<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookingSystem2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Bus</display-name>
    <servlet-name>Bus</servlet-name>
    <servlet-class>Bus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bus</servlet-name>
    <url-pattern>/Bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Route</display-name>
    <servlet-name>Route</servlet-name>
    <servlet-class>Route</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Route</servlet-name>
    <url-pattern>/Route</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passenger</display-name>
    <servlet-name>Passenger</servlet-name>
    <servlet-class>Passenger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passenger</servlet-name>
    <url-pattern>/Passenger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conductor</display-name>
    <servlet-name>Conductor</servlet-name>
    <servlet-class>Conductor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conductor</servlet-name>
    <url-pattern>/Conductor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Driver</display-name>
    <servlet-name>Driver</servlet-name>
    <servlet-class>Driver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver</servlet-name>
    <url-pattern>/Driver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBusRoute</display-name>
    <servlet-name>addBusRoute</servlet-name>
    <servlet-class>addBusRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBusRoute</servlet-name>
    <url-pattern>/addBusRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusUpdate</display-name>
    <servlet-name>BusUpdate</servlet-name>
    <servlet-class>BusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusUpdate</servlet-name>
    <url-pattern>/BusUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicket</display-name>
    <servlet-name>BookTicket</servlet-name>
    <servlet-class>BookTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicket</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
</web-app>